
<div class="centerEverythingContainterNoBorder">
  <% untransported = @incident.untransported("At Scene") %>
  <%= untransported %><br /><br />
  RETURN TO TRIAGE<br/>
  <%= link_to "TRIAGE", incident_patients_path(@incident)  %><br/><br/>
  
  LOG OUT AND EXIT THE APPLICATION<br />
  <%= link_to "EXIT", :logout %><br /><br />
  CLOSE THE INCIDENT AND MARK IT AS COMPLETED<br />
  <%= link_to "CLOSE INCIDENT", closeincident_path, :confirm => "Are you sure?\nThis will mark the triage and transportation\nprocess as completed!" %>
</div>



