<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<div id="closeExitTab">
<%= link_to "EXIT", :logout %>
<%= link_to "CLOSE INCIDENT" %>
</div>
