<div class="TopBar">
  
    <br />
    <h1 class="TopBarInterior">New MCI Information<hr /></h1><br />
 </div>
<div class="Login"><br />
  <div class="Inputs">

<%= render 'form' %>
    <br/><br/>
  </div>