<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<div class="TopBar">
  <img class ="image"src ="../images/LogoWhite.png"/>
    <br />
    <h1 class="TopBarInterior">New MCI Information<hr /></h1><br />
 </div>
<div class="Login"><br />
  <div class="Inputs">

<%= render 'form' %>
    <br/><br/>
  </div>