body {
   height: 100%;
   background-image:url(../images/Brushed_Steel.png);
   background-size: 100%;
}
.title {
    color:#fc0;
}

div.TopBar {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.TopBar a:link {color: #fc0;}
div.TopBar a:active {color: #fc0;}
div.TopBar a:visited {color: #fc0;}
div.TopBar a:hover {color: #fc0;}

span.highlight {
    background-color:darkred;
    color: black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: large;
}

h1.TopBarInterior {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.CountLogin {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: skyblue;
    text-align: right;
    max-width: 600px;
    font-size: 150%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.CountInputs {
    background-color: black;
    color: white;
    text-align: center;
    max-width: 580px;
    
    padding-left: 2%;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    margin-left: auto;
    margin-right: auto;
    
}

div.CountInputs input {
    width: 14%;  
    height: 50px;
    font-size: x-large;
    margin-right: 2%;
    margin-left: 2%;
}

div.CountInputs input.LongButton {
    background-color: orange;
    height: 50px;
    min-width:200px;
    font-size: large; 
    font-weight:bold;
}

div.CountInputs a:link {color: #fff;}
div.CountInputs a:active {color: #fff;}
div.CountInputs a:visited {color: #fff;}
div.CountInputs a:hover {color: #fc0;}

div.Login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: skyblue;
    text-align: right;
    max-width: 400px;
    font-size: 150%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.Login div.Inputs {
    background-color: black;
    color: white;
    text-align: left;
    font-size: large;
    margin-bottom: 5%;
    padding-left: 2%;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.Login div.Inputs h2{
    text-align: center;
}

div.Login div.Inputs input {
    width: 90%;  
    font-size: large;
}

div.Login div.Inputs select {
    width: 90%;  
    font-size: large;
}

input.LongButton {
    background-color: orange;
    height: 50px;
    min-width:200px;
    font-size: large; 
    font-weight:bold;
}

input.ShortButton {
    background-color: orange;
    height: 50px;
    width:100px;
    font-size:large; 
    font-weight:bold;
}

input.RedShortButton {
    background-color: darkred;
    height: 50px;
    width:50px;
    font-size:large; 
    font-weight:bold;
   }



div.wrapper {
    position:           fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
}

span.SelectedTab {
    display: inline-block;
    width: 20%;
    height: 30px;
    text-align: center;
    color: white;
    font-size: x-large;
    background-color: #333;
    border-top-left-radius: 8px 15px;
    border-top-right-radius: 8px 15px;
    -moz-top-left-radius: 8px 15px;
    -moz-border-top-right-radius: 8px 15px;
}

span.UnselectedTab {
    display: inline-block;
    width: 20%;
    height:30px;
    text-align: center;
    font-size: x-large;
    background-color: gray;
    border-top-left-radius: 8px 15px;
    border-top-right-radius: 8px 15px;
    -moz-top-left-radius: 8px 15px;
    -moz-border-top-right-radius: 8px 15px;
}

span.UnselectedTab a:link {color: #fff;}
span.UnselectedTab a:active {color: #fff;}
span.UnselectedTab a:visited {color: #fff;}
span.UnselectedTab a:hover {color: #fc0;}

div.incident {
    background-color: #333;
    font-size: large;
    color: white;
    border-radius: 25px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -moz-border-radius: 25px;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.incident input.ShortField {
    width: 5%;
    height: 50px;
    font-size: x-large;
}

div.incident select.ShortField {
    width: 8%;
    height: 50px;
    font-size: large;
}

div.incident input.LongField {
    width: 15%;
    height: 50px;
    font-size: large;
}

div.incident select.LongField {
    width: 15%;
    height: 50px;
    font-size: large;
}

div.incident input.MidField {
    width: 8%;
    height: 50px;
    font-size: large;
}
.centerEverythingContainter{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 			50%;
	text-align: 	center;
	border:			1px dashed
}

table.summary{
    border:     0px;
    
}

table.summary td {
    font: x-large bold;
    width: 30px;
    text-align: center;

}

table.summary td.red {
    background-color:       red;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

table.summary td.yellow {
    background-color:       yellow;
    color: black;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

table.summary td.green {
    background-color:       green;
-moz-border-radius: 8px;
    border-radius: 8px;   
}

table.summary td.black {
    background-color:       black;
    color:  white;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.patientsTable{
	border-collapse: 	collapse;
	width:				100%;	
}

.patientsTable td{
    	border: 			2px solid black;
	padding:			3px;
	border-spacing:		2px;
	font: 				x-large bold;
	font-family: 		verdana, arial, helvetica, sans-serif;
        margin-left: auto;
        margin-right: auto;
}

.patientsTable select{
    font-size: x-large;
}

.patientsTable input{
    font-size: x-large;
    
}
.redPatient {
    background-color:	red;
	color:  	white;
}

.yellowPatient {
    background-color:   yellow;
}

.greenPatient {
    background-color:	green;
    color:				white;
}

.blackPatient {
    background-color:	black;
    color:  			white;
}

.femalePatient{
	background-color: 	pink;
}

.malePatient{
	background-color: 	blue;
	color:  			white;	
}


div.header_bar{
 width: 				100%;

}
div.header_bar_container{
 width: 				100%;
 text-align: 			center;

}

div.left-long {
    float: left;
    width: 35%;
    text-align: left;
    min-height: 90px;
}
div.left {
    float: left;
    width: 20%;
    text-align: left;
    min-height: 90px; 
}
div.right{
    float: left;
    width: 10%;
    text-align: right;
    min-height: 90px;
}

.fieldLogin{
	font-size: 20px;
}





#mciTable{
	border: 			0px;
	border-collapse: 	collapse;
	width:				100%;
        font-size: large;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
}

#mciTable th{
    background-color: skyblue;
    border: 			0px;
    padding:			3px;
    border-spacing:		2px;
    font-weight: bold;
}

#mciTable th.date {
    width: 20%;
    border-right: 3px aquamarine ridge;
}
#mciTable th.type{
    width: 20%;
    border-right: 3px aquamarine ridge;
}
#mciTable th.location{
    
    border-right: 3px aquamarine ridge;
}

#mciTable th.latitude{
    width: 5%;
    border-right: 3px aquamarine ridge;
}

#mciTable th.longitude{
    width: 5%;
    border-right: 3px aquamarine ridge;
}

#mciTable th.open{
    width: 5%;
}

#mciTable td{
	border: 			0px;
	padding:			3px;
        padding-bottom:                 10px;
	border-spacing:		2px;
        font-size: large;
}

#mciTable input{
    background-color:darkred;
    color: white;
    font-size: large;
}

#even{
	background:	 white;
}

.even{
	background:	 #D3D3D3;
}


.centerEverythingContainterNoBorder{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 		75%;
	text-align: 	center;
}

.scrollable {
        margin-left: 	auto;
	margin-right: 	auto;
        width: 75%;
        max-height:     60%;
        
        overflow:       scroll;
        
}

.scrollable2 {
        overflow:               scroll;
        border:                 2px solid black;
}  

.scrollable3 {
        overflow:               scroll;
        border:                 2px solid black;
}  

.footerwrap{
	position:		fixed;
	bottom:			0;
	left:			0;
	width:			100%;
        text-align:             center;
}

.centerText{
	text-align:		center;
}

.fieldNewMCI{
	font-size: 30px;
	margin-bottom: 10px;
}

#newMCIdiv{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 			50%;
	text-align: 	left;
}

#alignRight{
	text-align:	right;
}

#closeExitTab{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 			50%;
	text-align: 	center;
	border:			1px dashed;
	font-size: 		30px;
}

table.tablesorter thead {
/*	background-image: url('../images/bg.gif'); */
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
}

table.ambulance {
        border-spacing: 0px;
}

table.ambulance td{
        border-left: 10px solid transparent;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
}