.centerEverythingContainter{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 			50%;
	text-align: 	center;
	border:			1px dashed
}

table.summary{
    border:     0px;
    
}

table.summary td {
    font: x-large bold;
    width: 30px;
    text-align: center;
}

table.summary td.red {
    background-color:       red;
}

table.summary td.yellow {
    background-color:       yellow;
}

table.summary td.green {
    background-color:       green;
    color:  white;
}

table.summary td.black {
    background-color:       black;
    color:  white;
}
div.header_bar{
 width: 100%;

}
div.header_bar_container{
 width: 100%;
 text-align: center;

}

div.left-long {
    float: left;
    width: 40%;
    text-align: left;
    min-height: 90px;
}
div.left {
    float: left;
    width: 25%;
    text-align: left;
    min-height: 90px;
}
div.right{
    float: left;
    width: 10%;
    text-align: right;
    min-height: 90px;
}

.fieldLogin{
	font-size: 20px;
}

#mciTable{
	border: 			2px solid black;
	border-collapse: 	collapse;
	width:				100%;	
}

#mciTable th{
	border: 			2px solid black;
	padding:			3px;
	border-spacing:		2px;
}

#mciTable th{
	background:		gray;
	color: 			white;
}

#mciTable td{
	border: 			2px solid black;
	padding:			3px;
	border-spacing:		2px;
}

#even{
	background:	 #D3D3D3;
}


.centerEverythingContainterNoBorder{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 			70%;
	text-align: 	center;
}

.footerwrap{
	position:		relative;
	/* bottom:			0; */
	left:			0;
	width:			100%;
}

.centerText{
	text-align:		center;
}

.fieldNewMCI{
	font-size: 30px;
	margin-bottom: 10px;
}

#newMCIdiv{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 			50%;
	text-align: 	left;
}

#alignRight{
	text-align:	right;
}
