/*
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications
*/



body {
   height: 100%;
   
}
.title {
    color:#fc0;
}

div.TopBar {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.TopBar a:link {color: #fc0;}
div.TopBar a:active {color: #fc0;}
div.TopBar a:visited {color: #fc0;}
div.TopBar a:hover {color: #fc0;}

span.highlight {
    background-color:darkred;
    color: black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: large;
}

h1.TopBarInterior {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.image {
    float: right;
    max-width: 5%;
    margin: 3px;
}

div.CountLogin {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: skyblue;
    text-align: right;
    max-width: 650px;
    font-size: 150%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.CountInputs {
    background-color: black;
    color: white;
    text-align: center;
    max-width: 630px;
    
    padding-left: 2%;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    margin-left: auto;
    margin-right: auto;
    
}

div.CountInputs input {
    width: 14%;  
    height: 50px;
    font-size: x-large;
    margin-right: 1%;
    margin-left: 1%;
}

.minus5Patient, .minus1Patient, .plus5Patient, .plus1Patient, .minus5Ambulance, .minus1Ambulance, .plus5Ambulance, .plus1Ambulance {
    background-color: orange;
}

.TextArea {
    font-size: large;
    width: 90%;
    height: 120px;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.CountInputs input.LongButton {
    background-color: orange;
    height: 50px;
    min-width:200px;
    font-size: large; 
    font-weight:bold;
}

div.CountInputs a:link {color: #fff;}
div.CountInputs a:active {color: #fff;}
div.CountInputs a:visited {color: #fff;}
div.CountInputs a:hover {color: #fc0;}

div.Login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: skyblue;
    text-align: right;
    max-width: 400px;
    font-size: 150%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-bottom-left-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.Login div.Inputs {
    background-color: black;
    color: white;
    text-align: left;
    font-size: large;
    margin-bottom: 5%;
    padding-left: 2%;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

div.Login div.Inputs h2{
    text-align: center;
}

div.Login div.Inputs input {
    width: 90%;  
    font-size: large;
     margin-bottom: 5px;
    margin-top: 5px;
}

div.Login div.Inputs select {
    width: 90%;  
    font-size: large;
}

input.LongButton {
    background-color: orange;
    height: 50px;
    min-width:200px;
    font-size: large; 
    font-weight:bold;
}

input.ShortButton {
    background-color: orange;
    height: 50px;
    width:100px;
    font-size:large; 
    font-weight:bold;
}

input.RedShortButton {
    background-color: darkred;
    height: 50px;
    width:30px;
    font-size:large; 
    font-weight:bold;
   }



div.wrapper {
    position:           fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
}

span.SelectedTab {
    display: inline-block;
    width: 20%;
    height: 30px;
    text-align: center;
    color: white;
    font-size: x-large;
    background-color: #333;
    border-top-left-radius: 8px 15px;
    border-top-right-radius: 8px 15px;
    -moz-top-left-radius: 8px 15px;
    -moz-border-top-right-radius: 8px 15px;
}









.centerEverythingContainter{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 			50%;
	text-align: 	center;
	border:			1px dashed
}

table.summary{
    border:     0px;
    
}

table.summary td {
    font: x-large bold;
    width: 30px;
    text-align: center;

}

table.summary td.red {
    background-color:       red;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

table.summary td.yellow {
    background-color:       yellow;
    color: black;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

table.summary td.green {
    background-color:       green;
-moz-border-radius: 8px;
    border-radius: 8px;   
}

table.summary td.black {
    background-color:       black;
    color:  white;
    -moz-border-radius: 8px;
    border-radius: 8px;
}







#reportTable{
	border: 			2px solid black;
	border-collapse: 	collapse;
	width:				100%;
        page-break-inside:           avoid ;
}

#reportTable th{
	border: 			2px solid black;
	padding:			3px;
	border-spacing:		2px;
	background:		gray;
	color: 			white;
}


#reportTable td{
	border: 			2px solid black;
	padding:			3px;
	border-spacing:		2px;
}

#even{
	background:	 #D3D3D3;
}

.even{
	background:	 #D3D3D3;
}

.pbi_avoid { page-break-inside:avoid !important; }
.centerEverythingContainterNoBorder{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 		75%;
	text-align: 	center;
}



 

.footerwrap{
	position:		fixed;
	bottom:			0;
	left:			0;
	width:			100%;
        text-align:             center;
}



/*background:; ie hack, something must be changed in a for ie to execute it*/

span.details{
    display:block;
    background-color: white;
    position:absolute;
    border: 5px #fc0 solid;
    border-radius: 25px;
    -moz-border-radius: 25px;
    top:30px; left:15px;
	padding: 15px 0 0 0;
	width:25%;
        font-size: medium;
	color: black;
    text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
span.details input{
	font-size: large;
}


