<div class="TopBar">
  <br />
    <h1 class="TopBarInterior">Welcome to MTAP<hr /></h1>
  <br/>
</div>
<div class="Login">
  <br />
<div class="Inputs">
  <br />
  <span class="title">Please Register to use this Application</span><br /><br />
	<%= render 'form' %>


</div>
