
<h2>TRIAGE TAB   <%= link_to "AMBULANCE TAB", incident_ambulances_path(@incident) %></h2>
<div class="incident" id="patient_input" data-id="<%= @incident.id %>">

	<br />

	<%= render 'form' %>

	<br />
</div>
	<hr />
	<center><a class="min_toggle"id="min_patient_form" >PATIENT FORM</a></center>
	<div id="patient-notice"></div>
	<br />

<div class="centerEverythingContainterNoBorder">
	<div class="scrollable2">
		<div class="patientsTable">
			<table>
				<tr>
		    		<th>TAG #</th>
		    		<th>COLOR</th>
		    		<th>SEX</th>
		    		<th>AGE</th>
		    		<th></th>
		    		<th>COMPLAINT</th>
					<th>STATUS</th>
					<th>HOSPITAL</th>
					<th>AMBULANCE</th>
					<th>DELETE PATIENT</th>
				</tr>					
				<%= render :partial => @patients, :locals => {:list => true} %>	
			</table>
		</div>
	</div>
</div>
<br />

