
<h2>TRIAGE TAB   <%= link_to "AMBULANCE TAB", incident_ambulances_path(@incident) %></h2>
<div id="incident" data-id="<%= @incident.id %>"></div>

<br />

<%= render 'form' %>

<br />
<hr />

<div id="patient-notice"></div>
<br />
<div id="patients">
	<table>
	<%= render :partial => @patients, :locals => {:list => true} %>
	</table>
</div>
<br />

