<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<h1>New resource</h1>

<%= render 'form' %>

<%= link_to 'Back', incident_resources_path %>
