<div class="TopBar">
	<br />
	<h1 class="TopBarInterior">Listing types of incidents<hr /></h1><br />
</div>

<table id="mciTable">
  <tr>
    <th class="date">Name</th>
    <th class="open"></th>
    <th class="open"></th>
  </tr>

<% @incident_types.each do |incident_type| %>
  <tr>
    <td><%= incident_type.name %></td>
    <td><%= link_to 'Edit', edit_incident_type_path(incident_type) %></td>
    <td><%= link_to 'Destroy', incident_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident type', new_incident_type_path %>
