<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @incident_type.name %>
</p>


<%= link_to 'Edit', edit_incident_type_path(@incident_type) %> |
<%= link_to 'Back', incident_types_path %>
