<!--
For more information on the technology stack selected, please refer to the document "Technology feasibility analysis"
Developed by: Carnegie Mellon University - Team Triage
Copyright:    Field Applications 
-->

<div class="TopBar">
  <img class ="image"src ="../images/LogoWhite.png"/>
    <br />
    <h1 class="TopBarInterior">MTAP<hr /></h1>
  <br/>
  
</div>
<div class="Login">
  <% if current_user %>
  
    <p>YOU ARE CURRENTLY LOGGED IN AS <%= current_user.username %></p><br /></br>
    <%= link_to "Logout", :logout %>
  <% else %>
    <br />
    <div class="Inputs">
      <br /><h2>Log In</h2>
      <%= render 'form' %>
      <%= link_to "Register", new_user_path %><br />
    
  <% end %>
  <br/>
</div>


