<h1>MASS TRIAGE ASSISTANCE APPLICATION</h1><br />

<% if current_user %>
  <p>YOU ARE CURRENTLY LOGGED IN AS <%= current_user.username %></p><br /></br>
  <%= link_to "Logout", :logout %>
<% else %>
  <h2>PLEASE LOG IN</h2>
  <%= render 'form' %>
  <%= link_to "Register", new_user_path %><br />
<% end %>


