<div class="centerEverythingContainter">
<h1>MTAP</h1><br />

<% if current_user %>
  <p>YOU ARE CURRENTLY LOGGED IN AS <%= current_user.username %></p><br /></br>
  <%= link_to "Logout", :logout %>
<% else %>
  <%= render 'form' %>
<br/>
<br/>
  <%= link_to "Register", new_responder_path %><br />
<% end %>
<br/>
</div>


